body{
    background-image: url(back.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#nav_container{
    height: 10vh;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.267);
}

#angel_shop{
    height: fit-content;
    width: fit-content;
    color: #a41032;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 5px;
    transform: skewX(-10deg);
}

#content{
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
}