*{
    transition: filter 1s;
}

#user{
    margin-top: 200px;
    width: 100%;
    text-align: center;
    color: rgba(253, 68, 68, 0.897);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.657);
    position: absolute;
    clear: both;
}

#nav_window{
    transition: width 1s;
    background-color: #fe6d3e;
    position: absolute;
    right: 0px;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.267);
    cursor: pointer;
    z-index: 2;
}

#nav_window_closer{
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    position: absolute;
    transition: background-color 1s;
    z-index: 1;
    display: none;
}

.nav_button{
    position: absolute;
    background-color: #2e102d;
    /* border: 1.5px solid #fe6d3e; */
    color: #fe6d3e;
    border-radius: 50%;
    padding: 5px;
    display: grid;
    place-items: center;
    place-self: center;
}

.nav_active hr:nth-child(2){
    transform: translate(-10px,0);
    opacity: 0;
}
.nav_active hr:nth-child(1){
    transform: translate(0px,8px) rotate(45deg);
}
.nav_active hr:nth-child(3){
    transform: translate(0px,-8px) rotate(-45deg);
}

@media (min-width: 780px) {
    #nav_window{
        width: 4px;
        height: 90vh;
        top: 10vh;
    }
    #nav_window_closer{
        height: 90vh;
        top: 10vh;
    }
    #user{
        font-size: 100px;
    }
    .nav_button{
        width: 6vh;
        height: 6vh;
        top: 2vh;
        right: 2vh;
    }
    .nav_button:hover{
        background-color: #fe6d3e;
        color: #2e102d;
        box-shadow: 0px 0px 4px #fe6d3e,
                    0px 0px 16px #fe6d3e,
                    0px 0px 32px #fe6d3e,
                    0px 0px 120px #fe6d3e;
    }
    .nav_button:hover hr{
        background-color: #2e102d;
    }
}

@media (max-width: 779.99px) {
    #nav_window{
        width: 0px;
        height: 93vh;
        top: 7vh;
    }
    #nav_window_closer{
        height: 93vh;
        top: 7vh;
    }
    #user{
        font-size: 50px;
    }
    .nav_button{
        width: 5vh;
        height: 5vh;
        top: 1vh;
        right: 1vh;
    }
    .nav_button:active{
        background-color: #fe6d3e;
        color: #2e102d;
        box-shadow: 0px 0px 4px #fe6d3e,
                    0px 0px 16px #fe6d3e,
                    0px 0px 32px #fe6d3e,
                    0px 0px 120px #fe6d3e;
    }
}